<header>
  <img
    src="assets/img/sandro.png"
    alt="Sandro André Janotte - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Sandro André Janotte</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Angular | NodeJs</p>
    <p>Joinville - Santa Catarina - Brasil</p>
    <p>Analista e desenvolvedor de softwares para web a mais de 8 anos.  </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/sandro-andr%C3%A9-janotte-2b022450/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkdIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato pelo WhatsApp"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=554799740407&text=Ol%C3%A1%20Sandro,%20preciso%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (47) 99974-0407</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato pelo email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:sjanotte@gmail.com" target="_blank">
            <strong>Envie um E-mail para:</strong>
            <p>Email: sjanotte&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
